asgiref==3.5.0
Django==4.0.3
django-filter==21.1
django-multiselectfield==0.1.12
django-phonenumber-field==6.1.0
django-phonenumbers==1.0.1
djangorestframework==3.13.1
importlib-metadata==4.11.3
Markdown==3.3.6
phonenumbers==8.12.45
Pillow==9.0.1
psycopg2==2.9.3
pytz==2022.1
sqlparse==0.4.2
tzdata==2022.1
zipp==3.7.0
